/*artifika - font for basic text*/

@font-face {
    font-family: 'Artifika';
    src: url('/fonts/artifika/Artifika-Regular.ttf');
}

/*best_christmas - font for headers*/

@font-face {
    font-family: 'BestChristmas';
    src: url('/fonts/best_christmas/Best Christmas - Personal Use.otf');
}


/*white_lotus- script font for illustrations*/

@font-face {
    font-family: 'WhiteLotus';
    src: url('/fonts/white_lotus/WhiteLotus_PERSONAL_USE_ONLY.otf');
}


.cursor-attack {
    cursor: url('img/cursors/attack.png') 40 0, pointer;

}

.cursor-default {
    cursor: url('img/cursors/default.png') 19 15, default;

}

.cursor-pointer {
    cursor: url('img/cursors/pointer.png') 17 10, pointer;

}

.cursor-grab {
    cursor: url('img/cursors/grab.png') 25 25, grab;

}

.cursor-grabbing {
    cursor: url('img/cursors/grabbing.png') 25 25, grabbing;

}

.cursor-not-allowed {
    cursor: url('img/cursors/not-allowed.png') 25 25, not-allowed;
}

.cursor-move {
    cursor: url('img/cursors/move.png') 25 25, move;
}

.cursor-wait {
    cursor: url('img/cursors/wait-1.png') 25 25, wait;
    /*there are 6 slides wait-1 to wait-6*/
}





body {
    font-family: Artifika;
    cursor: url('img/cursors/default.png') 19 15, default;
}

a:hover, a:visited:hover{
    cursor: url('img/cursors/pointer.png') 17 10, pointer;
    text-decoration: none;
    color: #FEF04F;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: BestChristmas;
    font-weight: normal;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 250%;
}

h4,
h5,
h6 {
    font-size: 200%;
}